    <script>
        today = new Date().toISOString().split(":")[0]+":00";
        document.getElementById("time").setAttribute("min",today)
    </script>

    <script src="/js/main.js"></script>
    
</body>

</html>