.chat-item {
  width: 30rem;
  height: max-content;
  max-width: 110%;
  margin: 1rem;
}

.footer-chat {
  width: calc(100% - 6px);
  height: 80px;
  display:flex;
  align-items: center;
  background-color: transparent;
  border-top: 2px solid #EEE;
}

.footer-chat .icon {
  color:#C0C0C0;
  font-size: 14pt;
}

.footer-chat .send {
  margin-top: 7px;
  margin-left: 20px;
  color:#fff;
  background-color: #4f6ebd;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  font-size: 14pt;
}

.footer-chat .send:hover {
  background-color: #1237f3;
}

.footer-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-size: 13pt;
  color:#515151;
}

.footer-chat .right {
  position: absolute;
  right: 40px;
}

.write-message {
  text-indent: 12px;
  width: 100%;
  box-sizing: border-box;
  border:none !important;
  height: 50px;
  border-radius: 20px;
}

.footer-chat *::-webkit-input-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
  margin-left:5px;
}
.footer-chat input *:-ms-input-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}

.chat {
    width: calc(65% - 85px);
    font-size: 1rem;
    text-align: center;
    color: #000000;
    width: auto;
    height: 600px;
    overflow: scroll;
  }
  
  .chat .messages-chat {
    margin-left: auto; 
    margin-right: 0;
  }
  
  .chat .messages-chat .message {
    display:flex;
    align-items: center;
    margin-bottom: 8px;
    margin-left: auto; 
    margin-right: 0;
  }

  .chat .messages-chat .receive-message {
    display:flex;
    align-items: center;
    margin-bottom: 8px;
    margin-left: 0; 
    margin-right: auto;
  }
  
  .chat .messages-chat .text {
    margin: 0 35px;
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 12px;
    margin-left: auto; 
    margin-right: 0;
    text-align: left;
  }

  .chat .messages-chat .receive-text {
    margin: 0 35px;
    background-color: #b7d7ff;
    padding: 15px;
    border-radius: 12px;
    margin-left: 0; 
    margin-right: auto;
    text-align: left;
  }
  
  .text-only {
    margin-left: 45px;
  }
  
  .time {
    font-size: 12px;
    color:rgb(77, 77, 77);
    margin-bottom:10px;
    text-align: right;
    padding-right: 8pt;
    padding-bottom: 8pt;
  }

  .receive-time {
    font-size: 12px;
    color:rgb(77, 77, 77);
    margin-bottom:10px;
    text-align: left;
    padding-left: 8pt;
    padding-bottom: 8pt;
  }

/* Chat containers */
.otherMessages {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
  }
  
  /* Darker chat container */
  .myMessages {
    border-color: #ccc;
    background-color: #ddd;
    text-align: right;
  }
  
  /* Clear floats */
  .otherMessages::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

  
  