.match-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.match-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.match__title {
    font-size: 1.2rem;
    text-align: center;
}

.player__list {
    font-size: 1rem;
    text-align: center;
    color: #513dff;
}

.match__subtitle {
    font-size: 1rem;
    text-align: center;
    color: #513dff;
}

.match__subtitle:hover,
.match__subtitle:active {
    font-size: 1.1rem;
}

.match__place {
    text-align: center;
    margin-bottom: 0.5rem;
}

.match__time {
    text-align: center;
    margin-bottom: 0.5rem;
}

.match__playerCount {
    text-align: center;
    margin-bottom: 0.5rem;
}

.match__playerCount__in {
    text-align: center;
    margin-bottom: 0.5rem;
}

.match__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.match__description {
    text-align: center;
}