.pagination {
    margin-top: 2rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
  .pagination a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border: 2px solid rgb(0, 255, 0);
    margin: 0 1rem;
    background: white;
  }
  
  .pagination a:hover,
  .pagination a:active,
  .pagination a.active {
    background: rgb(0, 255, 0);
    color: white;
  }